catalogs <-
	documentcloud <- git://github.com/documentcloud
	twitter <- git://github.com/twitter
	jquery  <- git://github.com/jquery
	jrburke <- git://github.com/jrburke

dependencies <<
	backbone @documentcloud #1.0.0 [version = "1.0.0", path = "vendor/js/backbone.js/1.0.0"]
	underscore @documentcloud #1.4.4 [version = "1.4.4", path = "vendor/js/underscore.js/1.4.4"]

	jquery @jquery #1.9.1 [version = "1.9.1", path = "vendor/js/jquery/1.9.1"]

	requirejs @jrburke #2.1.5 [version = "2.1.5", path = "vendor/js/require.js/2.1.5"]

	bootstrap @twitter #v2.3.1 [version = "2.3.1", path = "vendor/css/bootstrap/2.3.1"]
