catalogs <-
	documentcloud <- git://github.com/documentcloud
	twitter <- git://github.com/twitter
	jquery <- git://github.com/jquery

dependencies <<
	backbone @documentcloud #1.0.0 [version = "1.0.0", path = "vendor/backbone.js/1.0.0"]
	underscore @documentcloud #1.4.4 [version = "1.4.4", path = "vendor/underscore.js/1.4.4"]

	requirejs #2.1.5 [version = "2.1.5"
		path = "vendor/require.js/2.1.5"
		agent.cache_path = ".cache/dist/jrburke/requirejs"
		agent.remote = "git://github.com/jrburke/requirejs.git"]

	jquery #1.9.1 [version = "1.9.1", path = "vendor/jquery/1.9.1"]

	bootstrap @twitter #v2.3.1 [version = "2.3.1", path = "vendor/bootstrap/2.3.1"]
